{% extends "mail/layout.html" %}

{% load static %}

{% block custom_styles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet"  href="{% static 'mail/inbox.css' %}">
{% endblock %}

{% block body %}
    <div id="react-app"/>
{% endblock %}

{% block custom_scripts %}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-bootstrap@1.6.7/dist/react-bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/emotion@9.2.12/dist/emotion.umd.min.js"></script>
    <script src="https://unpkg.com/prop-types@15.5.10/prop-types.min.js"></script>
    <script src="https://unpkg.com/react-input-autosize@2.2.1/dist/react-input-autosize.min.js"></script>
    <script src="https://unpkg.com/react-select@2.1.2/dist/react-select.min.js"></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'mail/mail-sidebar.jsx' %}"></script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'mail/inbox.jsx' %}"></script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'mail/compose-email.jsx' %}"></script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'mail/view-email.jsx' %}"></script>
    <script data-plugins="transform-es2015-modules-umd" type="text/babel" src="{% static 'mail/app.jsx' %}"></script>
{% endblock %}
